
  
    
    
    <div class="mt-4">
      <h2>Registered Students</h2>
    
      <table class="table table-striped table-bordered" *ngIf="registeredStudents.length > 0; else noData">
        <thead class="table-dark">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Birthday</th>
            <th>Branch</th>
            <th>Mobile No</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Password</th>
            <th>Courses</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of registeredStudents">
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.emailId }}</td>
            <td>{{ student.city }}</td>
            <td>{{ student.state }}</td>
            <td>{{ student.birthday }}</td>
            <td>{{ student.branch }}</td>
            <td>{{ student.mobileNo }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.gender }}</td>
            <td>{{  student.password }}</td>
            <td>
              <ul>
                <li *ngFor="let course of student.courses">{{ course.courseName }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    
      <ng-template #noData>
        <div class="alert alert-warning text-center mt-3">
          <strong>No students have registered yet.</strong>
        </div>
      </ng-template>
    </div>