
<form class="container" #registerForm="ngForm">
  <h4>Please Signup</h4>
  <input
   type="email"
   placeholder="email here" 
 required
 pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
 ngModel
 name="email"
 #email="ngModel"
 />
  <h5 class="red-text" [hidden]="email.valid || email.untouched">Enter Correct Email</h5>
  <input 
  type="password" 
  placeholder="password here"
   required
   minlength="6"
   ngModel
   name="password"
   #password="ngModel" />
  <h5 class="red-text" [hidden]="password.valid || password.untouched"> Password is required must be greater then six
  </h5>
  <button class="btn-green" [disabled]="registerForm.invalid" (click)="register(registerForm)">Signup</button>
  <button class="btn-red" (click)="reset(registerForm)">Reset</button>


</form>