

<nav class="top-nav" id="home">
  <h1>
    <marquee behavior="4" direction="left">NS SoftTech World</marquee>
  </h1>
</nav>


<!-- <nav class="navbar">
  <div class="logo"><span>Registration_Page</span></div> -->

  

<!-- component-one.component.html -->
<!-- <button  (click)="navigateToComponentTwo()">Register_Student</button>

<button (click)="navigateToTeacherComponentTwo()">Teachers_Info</button>



  
  
</nav> -->
<!-- <app-registered-student></app-registered-student> -->
<!-- <app-login></app-login> -->

<router-outlet></router-outlet>


